.box {
  background-color: #667292;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  display: flex;
  flex-basis: 45%;
}
.box__content__icon__img {
  width: 1.5rem;
  height: 1.5rem;
}

.box__content {
  justify-content: space-between;
  height: 5vh;
}

.box__content__icon__button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9aa5c3;
  border: none;
}

.box__content__icon__button:hover {
  background-color: #9196a1;
  cursor: pointer;
}

.box__content__icon__button:active {
  background-color: #babbbe;
}
