.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
  height: 60vh;
}

.box-container :nth-child(2n-1) {
  margin-right: auto;
  /*
  all the odd childs of box-container will align to the left and push the even childs to the right
  */
}
