.bg-color {
  background-color: #323949;
  height: 100vh;
  width: 100vw;
}

.header {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.add-icon__div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  position: relative;
  margin-bottom: 1rem;
}

.add-icon__img {
  bottom: 0;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
